.sfapi-lnk {
  position: absolute;
  bottom: 6px;
  left: 6px;
  display: none;
  z-index: 2147483647;

  padding: 1px 5px 3px;
  border-radius: 6px;
  border: 1px solid #e7c84a;
  background: rgba(20, 20, 30, 0.88);
  color: #e7c84a;

  font: 700 16px/1.6 monospace;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.sfapi-host:hover .sfapi-lnk {
  display: block;
}

.sfapi-lnk:hover {
  background: #e7c84a;
  color: #14141e;
}
